<ul class="list-unstyled">
  <% tasks.each do |task| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(task.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to task.user.name, user_path(task.user) %> <span class="text-muted">posted at <%= task.created_at %></span>
        </div>
        <div class="d-flex bd-highlight mb-2">
          <div class="pr-5 bd-highlight">状態：<%= task.status %></div>
          <div class="pr-5 bd-highlight"><%= link_to 'タスク', task_path(task.id) %>：<%= task.content %></div>
          <%= link_to "削除", task, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-sm' %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate tasks %>
</ul>